<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028151769894-gl2bu1ednlk4a6876g0kj0bg7l33i13n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028151769894-gl2bu1ednlk4a6876g0kj0bg7l33i13n</string>
	<key>API_KEY</key>
	<string>AIzaSyAKrP4FlPBOKxrqFQFcRqzejMBgPoXi8O4</string>
	<key>GCM_SENDER_ID</key>
	<string>1028151769894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warungApp</string>
	<key>PROJECT_ID</key>
	<string>warung-c8e07</string>
	<key>STORAGE_BUCKET</key>
	<string>warung-c8e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028151769894:ios:06a3ab0ded654a80659fe7</string>
</dict>
</plist>